@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
}
.navActive {
  @apply text-blue-500 border-b border-blue-500;
}
.setCursor {
  @apply cursor-default sm:cursor-pointer;
}
.banner-img {
  height: 50vh;
  object-fit: cover;
  width: 100%;
}
.admin-sidebar-link {
  @apply rounded-md w-full pl-4 py-2;
}
.active-admin-sidebar-link {
  @apply bg-indigo-500 text-white;
}
.menuclass {
  @apply hover:text-green-600 transition-all duration-200 flex items-center gap-1 uppercase font-semibold;
}
@media screen and (max-width: 850px) {
  .banner-img {
    height: 30vh;
  }
}
