@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
}
.navActive {
  @apply text-green-500;
}
.setCursor {
  @apply cursor-default lg:cursor-pointer;
}
.banner-img {
  height: 60vh;
  width: 100%;
}
.admin-sidebar-link {
  @apply rounded-md w-full pl-4 py-2;
}
.active-admin-sidebar-link {
  @apply bg-green-500 text-white;
}
.menuclass {
  @apply hover:text-green-500 transition-all duration-200 flex items-center gap-1 font-semibold;
}
@media screen and (max-width: 850px) {
  .banner-img {
    height: 30vh;
  }
}
